@{
    ViewData["Title"] = "About";
}
<h2>Movie Master</h2>
<h3>VHS Video Hiring System</h3>

<address>
    <br/>Written by <a href="mailto:magnus@qullegium.se">Magnus Williamson</a><br><br>
    <strong><a href="http://www.qullegium.se">Cognitio Qullegium AB</a><br></strong>
    Krossverksgatan 5D<br>
    216 16 Limhamn<br>
    Sweden
</address>
